body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: auto auto;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 2fr 1fr 2fr;
}

.card {
  background-color: white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
  flex-grow: 1;
}

.card-footer {
  padding: 20px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
}

.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

section.secondary {
  background-color: #f5f5f5;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  padding: 15px 30px;
  margin-top: 30px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
